environment {
    XDG_SESSION_TYPE "wayland"
    XDG_CURRENT_DESKTOP "niri"

    GDK_BACKEND "wayland,x11"
    QT_QPA_PLATFORM "wayland;xcb"
    QT_QPA_PLATFORMTHEME "qt6ct"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"

    ELECTRON_OZONE_PLATFORM_HINT "auto"

    SDL_VIDEODRIVER "wayland,x11"

    DISPLAY ":0"

    _JAVA_AWT_WM_NONREPARENTING "1"
}
