[Desktop Entry]
Type=Application
Name=Ringo Shell
GenericName=Ringo Shell
Comment=Feature rich dynamic pill bar for niri
Exec=ringo-shell
Icon=ringo
Terminal=false
Categories=System;Utility;
